#button
{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

#button:hover
{
    -fx-background-color: #A9A9A9;
}

.tool-bar
{
    -fx-spacing: 20;
}

#header
{
    -fx-border-bottom: solid;
    -fx-border-color: transparent transparent #B0B0B0 transparent;
}

#header .label
{
    -fx-padding: 10 20 10 20;
}

#task .label
{
    -fx-padding: 10 20 10 20;
}

#task:hover
{
    -fx-background-color: #D0D0D0;
}