#button
{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

#button:hover
{
    -fx-background-color: #A9A9A9;
}

.tool-bar
{
    -fx-spacing: 20;
}

#header
{
    -fx-border-bottom: solid;
    -fx-border-color: transparent transparent #B0B0B0 transparent;
}

#taskTable .label
{
    -fx-padding: 10 20 10 20;
    -fx-min-width: 100;
    -fx-max-width: 100;
}

#taskTable #bigLabel
{
    -fx-padding: 10 20 10 20;
    -fx-min-width: 120;
    -fx-max-width: 120;
}

#task .progress-bar
{
    -fx-padding: 10 0 10 0;
    -fx-min-width: 100;
    -fx-max-width: 100;
}

#task .button
{
    -fx-padding: 10 10 10 10;
}

#task #spacer
{
    -fx-max-width: 10;
    -fx-min-width: 10;
}

#task:hover
{
    -fx-background-color: #D0D0D0;
}

#task #completed
{
    -fx-padding: 10 20 10 20;
    -fx-min-width: 120;
    -fx-max-width: 120;
    -fx-background-insets: 5, 0, 5, 0;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-color: rgb(11, 98, 11);
}

#task #todo
{
    -fx-padding: 10 20 10 20;
    -fx-min-width: 120;
    -fx-max-width: 120;
    -fx-background-insets: 5, 0, 5, 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #D80032;
}

#task #category
{
    -fx-padding: 10 20 10 20;
    -fx-min-width: 120;
    -fx-max-width: 120;
    -fx-background-insets: 5, 0, 5, 0;
    -fx-font-weight: bold;
}

